* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-title,
.card-subtitle {
    color: #102070;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text-gray {
    color: #282842 !important;
}

.column {
    padding: 32px;
}

.card {
    color: #000000;
    font-size: large;
    border-style: none;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background-color: rgba(228, 232, 255, 0.78);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

img {
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    border-color: gray;
    max-width: 100%;
    max-height: 100%;
}

.gallery-background {
    background-image: url("../img/carousel1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;

}

a {
    border-radius: 8px;
    padding: 8px;
    background-color: #eaeaf0;
    color: #900050
}

a:hover {
    background-color: #ffffff;
    color: #b01041
}

a:visited {
    color: #900050
}

button {
    color: #282842 !important;
    border-style: none !important;
    border-radius: 8px !important;
    backdrop-filter: blur(12px) !important;
    background-color: rgba(228, 232, 255, 0.78) !important;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2) !important;
}

button:hover {
    color: #102070 !important;
    background-color: rgba(228, 232, 255, 0.88) !important;
}

i {
    margin: 0 auto;
}